.direnv

.dotter/cache
.dotter/cache.toml
.dotter/local.toml

.envrc

fish/conf.d/local_env.fish
fish_variables
fisher.fish

helix/themes

pnpm-shell-completion.fish
pnpm.fish

yazi/state
yazi/vfs.toml
