yazi/state
helix/themes

.dotter/cache
.dotter/cache.toml
.dotter/local.toml

fish/conf.d/local_env.fish
fish_variables
fisher.fish
pnpm.fish
pnpm-shell-completion.fish

.direnv
.envrc
