// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

prefer-no-csd
hotkey-overlay {
    skip-at-startup
}

debug {
    deactivate-unfocused-windows
    honor-xdg-activation-with-invalid-serial
}

config-notification {
    disable-failed
}

clipboard {
    disable-primary
}

include "env.kdl"
include "spawn.kdl"
include "layout.kdl"
include "overview.kdl"
include "recent-windows.kdl"
include "binds.kdl"
include "color.kdl"
include "input.kdl"
include "window.kdl"

output "DP-1" {
    // mode "1920x790@60"

    scale 1.5    
    // preset-window-heights {
    //     proportion 0.33333
    //     proportion 0.5
    //     proportion 0.66667
    //     fixed 780
    //     proportion 1.0
    // }
    // off
}

output "HDMI-A-1" {
    scale 1.0
    layout {
        
        struts {
             bottom 256
        }
    }
}

output "cPATH 0x37D5 Unknown" {
    scale 1.333

    layout {
        // gaps 6

        // default-column-width {}
        preset-column-widths {
            proportion 0.5
            proportion 1.0
        }
        preset-window-heights {
            proportion 0.333
            proportion 0.666
            proportion 1.0
        }
    }
}

layer-rule {
    match namespace="^wallpaper$"
    match namespace="^quickshell$"
    place-within-backdrop true
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "waybar"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
// prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/screenshot/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 0.9
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts"#
    open-floating true
    open-focused false
    default-floating-position x=-80 y=0 relative-to="top-right"
}

window-rule {
    match app-id="google-chrome" is-focused=false is-active-in-column=false
    match app-id="google-chrome" is-urgent=true
    match app-id="^chrome"

    match app-id="QQ" title="图片查看器"
    match app-id="QQ" is-urgent=true

    match app-id="wechat" title="wechat|预览"
    match app-id="wechat" is-urgent=true

    open-floating true

}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// TODO: Comment
window-rule {
    match at-startup=true
    open-focused false
}

// Chat
workspace "chat" {
    open-on-output "DP-1"
}

window-rule {
    match at-startup=true app-id="wechat"
    match at-startup=true app-id="QQ"
    open-on-workspace "chat"
}

workspace "chrome" {
    open-on-output "DP-1"
}

window-rule {
    match at-startup=true app-id="google-chrome"
    open-on-workspace "chrome"
}

workspace "cherry" {
    open-on-output "DP-1"
}

window-rule {
    match at-startup=true app-id="CherryStudio"
    open-on-workspace "cherry"
}

// workspace "steam" {
//     open-on-output "DP-1"
// }

window-rule {
    match at-startup=true app-id="steam"
    open-on-workspace "steam"
}


gestures {
    hot-corners {
        off
    }
}

include "dms/colors.kdl"

