
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
// Starts DankShell
spawn-at-startup "dms" "run"

spawn-at-startup "fcitx5" "-d"
spawn-at-startup "sparkle"
spawn-at-startup "gtk-launch" "google-chrome"
spawn-at-startup "gtk-launch" "wechat"
spawn-at-startup "gtk-launch" "qq"
spawn-at-startup "Cherry Studio"

